.app-container {
  max-width: 540px;
  max-height: 660px;
  margin: auto;
  margin-top: 182px;
}
.app-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 66px;
}

.bottom-container {
  margin-top: 24px;
  background-color: var(--card-bg);
  border-radius: var(--radius);
  padding: 32px 40px;
}

@media (max-width: 540px) {
  .app-container {
    margin-top: 51px;
    padding: 16px;
  }
}
